<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>    
    <add name="RestoContext" connectionString="data source=localhost\SQLEXPRESS;initial catalog=RestoDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>