.menu, .submenu{
    list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
  }
  
  .menu  li {
    background-color: orange;
    color: white;
    display: inline-flex;  
    position: relative;
  }
  
  .menu a, .submenu a {
    text-decoration: none;
    color: white;
    padding: 20px;
  }
  
  .menu a:hover,
  .menu a:active, 
  .menu a.active,
  .submenu a:hover {
      color: darkblue;
      background-color: goldenrod;
  }
  
  .menu li:hover .submenu {
    display: block;
    max-height: 200px;
  }
  
  .submenu
  {
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: all 0.5s ease-out;
    display: block;
    position: absolute;
    top: 58px;
    width: 180px;
  }
  
  .submenu li {
    display: block;
    height: 58px;
    width: auto;
  }
  
  .submenu a {
    display: block;
  }