.orderBlock {
    width: 30%;
    float: left;
}

.orderSummary {
    border: solid 2px lightblue;
    margin-top: 8px;
    border-radius: 5px;
    background-color: lightblue;
    margin: 10px;
    height: 120px;
}

.summaryCont {
    width: 50%;
    float: left;
    margin-top: 10px;
}

.changeState button {
    background-color: blueviolet;
    border: 0px;
    border-radius: 5px;
}