body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  border: 1px solid grey;
  border-collapse: collapse;
}

h2 {
  color: orange;
}

th {
  border-bottom: 1px solid grey;
  border-collapse: collapse;
  margin-left: 5px;
  margin-right: 5px;
}

th, td {
  padding: 15px;
  text-align: left;
}

.container{
  display: block;
}

.center {
  display: inline-block;;
  text-align: center;
}

.buttonv1 {
  background-color: orange;
  color: white;
  border-radius: 5px;
  min-width: 200px;
  min-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 100%;
}

.buttonv1:hover {
  background-color: #F59553;
}

.menu, .submenu{
  list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.menu  li {
  background-color: orange;
  color: white;
  display: inline-flex;  
  position: relative;
}

.menu a, .submenu a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.menu a:hover,
.menu a:active, 
.menu a.active,
.submenu a:hover {
    color: darkblue;
    background-color: goldenrod;
}

.menu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu
{
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.5s ease-out;
  display: block;
  position: absolute;
  top: 58px;
  width: 180px;
}

.submenu li {
  display: block;
  height: 58px;
  width: auto;
}

.submenu a {
  display: block;
}